body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  opacity: 1;
  -webkit-animation: hide_loading 1.5s forwards;
          animation: hide_loading 1.5s forwards;
}

@-webkit-keyframes hide_loading {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes hide_loading {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.spinner {
  width: 104px;
  z-index: 11;
  height: 104px;
  display: inline-block;
  overflow: hidden;
}
.spinner__content {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-origin: 0 0;
}
.spinner__content div {
  box-sizing: content-box;
  left: 48.88px;
  top: 24.96px;
  position: absolute;
  -webkit-animation: loading linear 1s infinite;
          animation: loading linear 1s infinite;
  background: #99E2D0;
  width: 6.24px;
  height: 12.48px;
  border-radius: 3.12px/6.24px;
  transform-origin: 3.12px 27.04px;
}
.spinner__content div:nth-child(1) {
  transform: rotate(30deg);
  -webkit-animation-delay: 0.0833333333s;
          animation-delay: 0.0833333333s;
}
.spinner__content div:nth-child(2) {
  transform: rotate(60deg);
  -webkit-animation-delay: 0.1666666667s;
          animation-delay: 0.1666666667s;
}
.spinner__content div:nth-child(3) {
  transform: rotate(90deg);
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.spinner__content div:nth-child(4) {
  transform: rotate(120deg);
  -webkit-animation-delay: 0.3333333333s;
          animation-delay: 0.3333333333s;
}
.spinner__content div:nth-child(5) {
  transform: rotate(150deg);
  -webkit-animation-delay: 0.4166666667s;
          animation-delay: 0.4166666667s;
}
.spinner__content div:nth-child(6) {
  transform: rotate(180deg);
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.spinner__content div:nth-child(7) {
  transform: rotate(210deg);
  -webkit-animation-delay: 0.5833333333s;
          animation-delay: 0.5833333333s;
}
.spinner__content div:nth-child(8) {
  transform: rotate(240deg);
  -webkit-animation-delay: 0.6666666667s;
          animation-delay: 0.6666666667s;
}
.spinner__content div:nth-child(9) {
  transform: rotate(270deg);
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.spinner__content div:nth-child(10) {
  transform: rotate(300deg);
  -webkit-animation-delay: 0.8333333333s;
          animation-delay: 0.8333333333s;
}
.spinner__content div:nth-child(11) {
  transform: rotate(330deg);
  -webkit-animation-delay: 0.9166666667s;
          animation-delay: 0.9166666667s;
}

* a {
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "Shrikhand", cursive;
  text-align: center;
  margin: 20px 0 auto;
}

.main {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  margin: 0;
  color: black;
}

/*  HEADER  */
header {
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

/*  HEADER - Bouton retour  */
header .icon {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #000;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eaeaea;
  color: #7a7a7a;
  width: 100%;
}
.location__city {
  margin-left: 13px;
  font-weight: 500;
}

.hero {
  background: #fafafa;
  width: 100%;
}
.hero__container {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0;
}
.hero__title {
  text-align: center;
  max-width: 250px;
  margin: 0;
}
.hero__text {
  text-align: center;
  padding: 0 30px;
}
.hero__button {
  opacity: 1;
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.hero__button:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.process__contain {
  padding: 25px 0;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.process {
  width: 95%;
  max-width: 1200px;
  background-color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.process__title {
  margin: 0;
  text-align: center;
  padding-bottom: 20px;
}
.process__text {
  font-weight: 500;
}
.process__step {
  display: flex;
  align-items: center;
  background: #f6f6f6;
  height: auto;
  width: auto;
  margin: 10px 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}
.process__step:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  background: white;
}
.process__number {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  transform: translateX(-50%);
}
.process__icon {
  color: #7E7E7E;
  margin: 0 20px;
}
.process__steps {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.restaurants {
  margin: 0;
  background: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.restaurant__cards {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  grid-gap: 20px;
  padding: 20px;
}
.restaurant__card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  border-radius: 20px;
  transform: scale(1);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}
.restaurant__card-new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #99e2d0;
  top: 20px;
  right: 20px;
}
.restaurant__card-new p {
  color: #1b6150;
  padding: 10px 20px;
  margin: 0;
}
.restaurant__card:hover {
  transition: 0.5s;
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 0.6);
}
.restaurant__card-image {
  width: 100%;
  height: 190px;
}
.restaurant__card-image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurant__block {
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  border-radius: 0 0 20px 20px;
}
.restaurant__block-info {
  color: black;
  margin-left: 20px;
}
.restaurant__block-info > :first-child {
  font-weight: 700;
}
.restaurant__block-hearth {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 30px;
}
.restaurant__block .heart {
  width: 30px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}
.restaurant__block .heart-full {
  position: absolute;
  fill: url(#text-fill);
  stroke: none;
}
.restaurant__block .heart-empty {
  width: 50px;
  position: relative;
}
.restaurant__block .heart-empty:hover {
  opacity: 0;
  transition: 0.5s;
}

.footer {
  width: 100%;
  background-color: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__bloc {
  display: inline;
  padding: 0 40px;
  width: 100%;
  max-width: 1200px;
}
.footer__bloc .logo {
  font-family: "Shrikhand", cursive;
  color: white;
  font-size: 20px;
  padding: 15px 0;
}
.footer__bloc-links {
  display: inline-flex;
  flex-direction: column;
  width: auto;
}
.footer__bloc-link {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
  color: white;
  height: 30px;
  cursor: pointer;
}
.footer__bloc-link:hover .footer__bloc-link__title {
  text-decoration: underline;
}
.footer__bloc-link i {
  margin-right: 7px;
}
.footer__bloc-link__title {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (min-width: 800px) {
  .restaurant__cards {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding-top: 0;
  }
  .process__step {
    width: 100%;
  }
  .process__steps {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
  }
  .footer__bloc {
    margin-bottom: 15px;
  }
  .footer__bloc-links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-width: 900px;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant__cards {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}/*# sourceMappingURL=style_index.css.map */